#sentence-1 {
  color: red;
}

.sentence-2 {
  text-decoration: underline;
}

.image_1 {
	width: 200px;
	padding-top:20px;
	padding-left: 20px;
}

#main-paragraph {
	text-align: justify;
	padding-bottom: 20px;
}

.contact-us {
	margin-top: 150px;
}

.glyphicon {
	font-size: 40px;
	display:block;
	text-align: center;
	margin-bottom: 10px;
}

.contact-info {
	font-weight: bold;
	text-align: center;
}

#contact-header {
	text-align: center;
	margin-top: 50px;
}

.well {
	padding-right: 20px;
}